.error {color: red;}

.data_button {
  color: black;
  background-color: lightblue;
  font-weight: bold;
  border:  1px solid darkblue;
  box-shadow: 5px 10px darkgrey;
}

.data_view {
  background-color: pink;
  border: solid darkred;
  box-shadow: 5px 10px darkgrey;
  font-weight: bold;
  color-rendering: round;
}

.data_add {
  background-color: pink;
  border: solid darkred;
  box-shadow: 5px 10px darkgrey;
  font-weight: bold;
  color-rendering: round;
}

.data_space {
  margin-bottom: 40px;
}

.text_input {
  margin: 3px;
}

.value {

}
